body {
    font-family: Georgia, serif;  
    font-size: 18px;
    color: #333;
    margin: 20px;
    background-color: rgb(170, 170, 166);
}

h1 {
    color: #000000;
}

p {
    line-height: 1.6;
}

img {
    max-width: 300px;
    height: auto;
    border-radius: 8px;
    margin-top: 20px;
}
