<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>My Website - About</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}" />
</head>
<body>
<h1>Kevon Haughton</h1>
<p>My name is Kevon Haughton. I am a student studying Information Technology at the University of the West indies.
I am 22 years old and I enjoy working with technology, watching sports as well as playing video games. So far I'm definitely 
enjoying this course and I am looking forward for what it has to offer.</p>
<img src="{{ url_for('static', filename='images/IMG_6115.jpg') }}" alt="My Photo">

</body>
</html>

